includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: max

    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed#'